<header class="py-8  px-4 mx auto max-w-3xl lg:py-16 lg:px-6">

<div class="mx-auto  text-center mb-8 lg:mb-16">
    <h2 class="mb-4 text-5cl tracking-tight font-extrabold text-white">
        SpaceX Launch 🚀

    </h2>
    <p class="font-ligth text-gray-500 sm:text-xl dark:text-gray-400">
        SpaceX Data from API spacexdata
    </p>

</div>
</header>